.default {width:auto !important;}
.module {margin-bottom:10px !important;}
.module ul {list-style-type:none !important; margin-left:0px;}
.mini {font-size:.9em;}
#content-related.dashboard1 {margin:0 -38em 0 10px;}
#content-related.dashboard2 {margin-right:-19em;}